.text-title{
  font-size: xx-large;
  text-align: center;
  background: cornflowerblue;
  border-bottom: 1px solid black;
}
.label-text{
  padding-left: 25px;
  padding-right: 5px;
  width: 30%;
  text-align: right;

}
.form-input{
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: center;
}

